.container {
    min-height: 100vh;
    display: flex;
    margin: 10px;

}
  
  .container section {
    width: 80vw;
    margin-right: 1rem;
  }
  
  .container aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 250px;
    min-height: 200px;
    text-align: center;
    position: sticky;
    top: 80px;
    height: 0;
    font-size: 30px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
    /* padding: 20px !important; */
  }
  .container aside *{
      font-size: 20px;
  }
  .container aside h3{
      font-size: 20px;
    /* text-decoration: underline; */
  }

  .container aside button{
      background-color: rgb(11, 90, 73);
      color: white;
      padding: 10px;
      border-radius: 10px;  
      margin-left: 10px;
      margin-right: 10px;
  }
  .container aside button:last-child{
      margin-bottom: 10px;
  }
  .hidden {
    display: none;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
  }
  
  .controls textarea {
    height: 60vh;
    /* border: none; */
    outline: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    margin: 10px;
  }
  
  .input {
    outline: none;
    /* border: none; */
    font-size: 2.5rem;
    width: 100%;
    padding: 5px 10px;
  }
  
  .checkbox {
    display: inline;
    width: fit-content;
    border: 0px solid black;
  }
  
  .container h1{
      font-size: 20px;
      align-self: center;
      /* text-align: center; */
      font-style: italic;
      background-color: rgb(255, 255, 255);
      color: black;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
  }
 
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .container section {
      width: 100%;
    }
  
    .container aside {
      width: 100%;
      position: relative;
    }
  }
  